html {
  margin: auto;
  max-width: 55rem;
  background: #e9e6e4;
  color: #54433a;
  font-family: "Noto Sans", system-ui, "Microsoft JhengHei", sans-serif;
}
#content {overflow-x: hidden; background: #f1f1f1; border: 1px solid; margin: 2rem; padding: 2rem 5rem; line-height: 1.5}
#footer {margin: 1rem 0}
h2 {font-size: 1.125rem}
pre, blockquote, input {overflow-x: auto; background: #e9e6e4; padding: 1em}
blockquote {margin: 1rem 0; border-left: 0.75em solid}
blockquote > * {margin: 0 0.25em 0.25em}
pre, code {font-size: 1rem; font-family: "Liberation Mono", "Consolas", monospace}
pre code {font-size: 0.9rem}
ul, ol {padding-left: 1em}
a {color: #465aa4; text-underline-offset: 0.125em; text-decoration-thickness: 0.75px}
#header a, .links a {text-decoration: none}
#sitename, .links a:hover {color: #7d6658}
hr {border: 0; margin: 1.5rem 0}
hr:after {content: "＊ ＊ ＊"; display: block; text-align: center;}
figure, img, video {max-width: 40rem; margin: 1rem auto}
img, video {display: block; max-width: 100%}
button {margin: 0 0 1rem 0; font-size: 16px; padding: 0.5rem; color: #54433a;
  -webkit-user-select: none; user-select: none;
  border-radius: 8px; background: linear-gradient(#f1f1f1 0%, #e9e6e4 100%)}
button:hover {cursor: pointer}
.imgflex {display: flex; gap: 8px}
.cardblock {display: flex; flex-wrap: wrap; gap: 16px}
.postcardblock {display: flex; flex-wrap: wrap; gap: 16px}
.postblock {flex: 1 0 20em; background: #e9e6e4; padding: 0 16px}
.imgblock {flex: 1 0 49%; display: flex; flex-direction: column}
.imgblock > :first-child {flex: 0 0 40%}
.imgblock > :first-child, .imgblock img {margin: 0}
.imgblock * {margin-bottom: 0}
figcaption {text-align: center}
.date {margin-right: 0.5em}
@media screen and (max-width: 900px) {
  html {background: #f1f1f1; font-size: 16px}
  #content {margin: auto; padding: 1rem; max-width: 42rem; border: 0}
}
@media screen and (max-width: 540px) {
  h1 {font-size: 1.75rem}
  .postblock {flex: 1 0 70%}
}
@media(prefers-color-scheme: dark) {
  html {background: #191919; color: #fff;}
  #content {background: #242424; border-color: #111;}
  a {color: #ffa200}
  #sitename, a:hover, .links a:hover {color: #f67400}
  pre, blockquote, .postblock {background: #363636}
  blockquote {border-color: #ffa200}
  button, input {background: linear-gradient(#363636, #242424);
    border: 2px solid #444; color: #fff} 
  input {background: #242424}
  button:active {background: linear-gradient(#242424, #363636);}
  @media screen and (max-width: 900px) {
    html {background: #242424}
  }
}
@media print {#header, #footer {display: none} h1 {margin-top: 0}}
