<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="zh-hant" xml:lang="zh-hant">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>其他 - Blog of ltlnx</title>
        <meta name="viewport" content="width=device-width" />
        <link href="/style.css" rel="stylesheet" />
        <link rel="icon" href="data:," />
        <link rel="alternate" type="application/atom+xml" title="ltlnx 的網誌 —— 所有頁面" href="/rssfeed.xml" />
    </head>
    <body>
        <div id="content">
            <div id="header">
                <a href="/index.html" id="sitename"><strong>ltlnx 的網誌</strong></a>
                <div class='links'>
                    <a href='/archive.html'>庫存</a>
                    <a href='/about.html'>關於</a>
                    <a href='/links.html'>連結</a>
                    <a href='/blogroll.html'>部落滾</a>
                    <a href='/rss.html'>訂閱</a>
                    <a rel='me' href='https://g0v.social/@ltlnx'>聯邦</a>
                </div>
            </div>
            <div id="main">
<h1 id="其他">其他</h1>
<p>這裡有些不屬於其他分類的東西。</p>
<div class="postcardblock">
<div id="連結" class="postblock">
<h2><a href="/links.html">連結</a></h2>
<p><span class="date">2024-11-20</span><span class="tags">標籤：<a href="/tags/其他.html">其他</a>
</span></p>
<p>這裡放的連結，有我常閱覽的網站、好用的資訊，與這幾年在網路上搜羅來的連結。隨著清單越來越長，建議您使用目錄或是瀏覽器中的「在頁面中搜尋」功能尋找需要的資訊。</p>
</div>
<div id="部落滾" class="postblock">
<h2><a href="/blogroll.html">部落滾</a></h2>
<p><span class="date">2024-08-06</span><span class="tags">標籤：<a href="/tags/其他.html">其他</a>
</span></p>
<p>「部落滾」這個新詞是從 <a
href="https://blog.othree.net/blogroll/">O3noBlog</a>
借來的，相對於英文的
blogroll。在這裡我會列出平常有訂閱或是會定期閱覽的網站或網誌。</p>
</div>
<div class="postblock">
<h2 id="關於"><a href="/about.html">關於</a></h2>
<p><span class="date">2024-04-16</span><span class="tags">標籤：<a href="/tags/其他.html">其他</a>
</span></p>
<h2 id="我">我</h2>
</div>
<div id="訂閱" class="postblock">
<h2><a href="/rss.html">訂閱</a></h2>
<p><span class="date">2024-02-23</span><span class="tags">標籤：<a href="/tags/其他.html">其他</a>
</span></p>
<p>如果您是與我同齡或比我小的人，可能不知道在網路上，除了能訂閱影片頻道與網路服務（或是訂閱報紙）之外，還可以訂閱部落格文章。訂閱文章的技術稱為
RSS，是由網站提供一個檔案連結供閱讀軟體「訂閱」，裡面包含文章標題、作者，與選配的圖片、文章內容。</p>
</div>
<div id="網站更新紀錄" class="postblock">
<h2><a href="/website-log.html">網站更新紀錄</a></h2>
<p><span class="date"></span><span class="tags">標籤：<a href="/tags/其他.html">其他</a>
</span></p>
<p>這裡有網站相關的更新說明、筆記與偶爾的抱怨 ——
大多是後台發生的事情。他們通常與我的<a
href="https://codeberg.org/ltlnx/pages/commits/branch/main">提交訊息</a>相關。</p>
</div>
<div id="linux-one-line-solutions" class="postblock">
<h2><a href="/linux-one-liners.html">Linux One-Line Solutions</a></h2>
<p><span class="date"></span><span class="tags">標籤：<a href="/tags/其他.html">其他</a>
</span></p>
<p>This is a collection of one-line (or maybe under-ten-lines) solutions
I accumulated from the Web or other places.</p>
</div>
<div id="disclosures-and-faq" class="postblock">
<h2><a href="/disclosures-and-faqs.html">Disclosures and FAQ</a></h2>
<p><span class="date"></span><span class="tags">標籤：<a href="/tags/其他.html">其他</a>
</span></p>
<p>This page is created due to a desperate need to document some stuff I
implemented on the site. At first I crammed them in the <a
href="about.html">about</a> page, but found out that the details are
getting too long and boring, that it deserves a separate page. So here
they are.</p>
</div>
</div>
                <p><em>如果想讓我知道您看過這個頁面，請點擊<a href="https://ltlnx.goatcounter.com/count?p=/tags/其他.html">這個連結</a>。<a href="/viewcount.html">運作原理</a>。</em></p>
            </div>
            {{COMMENTS}}
            <div id="footer">
                <div class='links'>
                    <a href='/archive.html'>庫存</a>
                    <a href='/about.html'>關於</a>
                    <a href='/links.html'>連結</a>
                    <a href='/blogroll.html'>部落滾</a>
                    <a href='/rss.html'>訂閱</a>
                    <a rel='me' href='https://g0v.social/@ltlnx'>聯邦</a>
                </div>
            <small>© ltlnx 2022–2024. 使用 CC BY-SA 4.0 授權。如果要在其他網頁上轉載，請附上原文連結。</small>
            </div>
        </div>
        <script src="/res/comments.js" type="text/javascript"></script>
    </body>
</html>
