<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="zh-hant" xml:lang="zh-hant">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>本日新知 - Blog of ltlnx</title>
        <meta name="viewport" content="width=device-width" />
        <link href="/style.css" rel="stylesheet" />
        <link rel="icon" href="data:," />
        <link rel="alternate" type="application/atom+xml" title="ltlnx 的網誌 —— 所有頁面" href="/rssfeed.xml" />
    </head>
    <body>
        <div id="content">
            <div id="header">
                <a href="/index.html" id="sitename"><strong>ltlnx 的網誌</strong></a>
                <div class='links'>
                    <a href='/archive.html'>庫存</a>
                    <a href='/about.html'>關於</a>
                    <a href='/links.html'>連結</a>
                    <a href='/blogroll.html'>部落滾</a>
                    <a href='/rss.html'>訂閱</a>
                    <a rel='me' href='https://g0v.social/@ltlnx'>聯邦</a>
                </div>
            </div>
            <div id="main">
<h1 id="本日新知">本日新知</h1>
<p>所有不足以成文的個人新知。</p>
<div class="postcardblock">
<div id="today-i-learned-metathread" class="postblock">
<h2><a href="/til-metathread.html">Today I Learned Metathread</a></h2>
<p><span class="date">2024-01-24</span><span class="tags">標籤：<a href="/tags/本日新知.html">本日新知</a>
</span></p>
<p>All things I learned that doesn’t count as a post, in reverse
chronological order.</p>
</div>
</div>
                <p><em>如果想讓我知道您看過這個頁面，請點擊<a href="https://ltlnx.goatcounter.com/count?p=/tags/本日新知.html">這個連結</a>。<a href="/viewcount.html">運作原理</a>。</em></p>
            </div>
            {{COMMENTS}}
            <div id="footer">
                <div class='links'>
                    <a href='/archive.html'>庫存</a>
                    <a href='/about.html'>關於</a>
                    <a href='/links.html'>連結</a>
                    <a href='/blogroll.html'>部落滾</a>
                    <a href='/rss.html'>訂閱</a>
                    <a rel='me' href='https://g0v.social/@ltlnx'>聯邦</a>
                </div>
            <small>© ltlnx 2022–2024. 使用 CC BY-SA 4.0 授權。如果要在其他網頁上轉載，請附上原文連結。</small>
            </div>
        </div>
        <script src="/res/comments.js" type="text/javascript"></script>
    </body>
</html>
