<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="zh-hant" xml:lang="zh-hant">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>軟體 - Blog of ltlnx</title>
        <meta name="viewport" content="width=device-width" />
        <link href="/style.css" rel="stylesheet" />
        <link rel="icon" href="data:," />
        <link rel="alternate" type="application/atom+xml" title="ltlnx 的網誌 —— 所有頁面" href="/rssfeed.xml" />
    </head>
    <body>
        <div id="content">
            <div id="header">
                <a href="/index.html" id="sitename"><strong>ltlnx 的網誌</strong></a>
                <div class='links'>
                    <a href='/archive.html'>庫存</a>
                    <a href='/about.html'>關於</a>
                    <a href='/links.html'>連結</a>
                    <a href='/blogroll.html'>部落滾</a>
                    <a href='/rss.html'>訂閱</a>
                    <a rel='me' href='https://g0v.social/@ltlnx'>聯邦</a>
                </div>
            </div>
            <div id="main">
<h1 id="ltlnx-的軟體存放區">ltlnx 的軟體存放區</h1>
<p>這裡放一些自己寫的軟體與指令搞。如果遇到任何問題，可以用任何方式聯絡我。</p>
<div class="postcardblock">
<div id="new-font-pheno-marker" class="postblock">
<h2><a href="/phenomarker.html">New Font: Pheno Marker</a></h2>
<p><span class="date">2025-02-04</span><span class="tags">標籤：<a href="/tags/軟體.html">軟體</a>
</span></p>
<p>Handwritten with a round-tip marker, vectorized with Inkscape and
modified with Fontforge. The font currently only supports ASCII.
Diacritics would (hopefully) be added later.</p>
</div>
<div id="ltlnxs-personal-task-manager" class="postblock">
<h2><a href="/task-manager.html">ltlnx’s Personal Task Manager</a></h2>
<p><span class="date">2023-01-14</span><span class="tags">標籤：<a href="/tags/軟體.html">軟體</a>
</span></p>
<p>I wrote this for my convenience to manage tasks and show them on the
desktop (with the <a href="text-viewer-widget.html">Text Viewer
Widget</a> KDE applet). It can:</p>
</div>
<div id="kde-plasma-applet-text-viewer-widget" class="postblock">
<h2><a href="/text-viewer-widget.html">KDE Plasma Applet: Text Viewer
Widget</a></h2>
<p><span class="date">2023-01-02</span><span class="tags">標籤：<a href="/tags/軟體.html">軟體</a>
</span></p>
<p>table, td, tr {border: none} @media(max-width: 600px) { td {display:
block} }</p>
</div>
</div>
                <p><em>如果想讓我知道您看過這個頁面，請點擊<a href="https://ltlnx.goatcounter.com/count?p=/tags/軟體.html">這個連結</a>。<a href="/viewcount.html">運作原理</a>。</em></p>
            </div>
            {{COMMENTS}}
            <div id="footer">
                <div class='links'>
                    <a href='/archive.html'>庫存</a>
                    <a href='/about.html'>關於</a>
                    <a href='/links.html'>連結</a>
                    <a href='/blogroll.html'>部落滾</a>
                    <a href='/rss.html'>訂閱</a>
                    <a rel='me' href='https://g0v.social/@ltlnx'>聯邦</a>
                </div>
            <small>© ltlnx 2022–2024. 使用 CC BY-SA 4.0 授權。如果要在其他網頁上轉載，請附上原文連結。</small>
            </div>
        </div>
        <script src="/res/comments.js" type="text/javascript"></script>
    </body>
</html>
