<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="zh-hant" xml:lang="zh-hant">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>音樂 - Blog of ltlnx</title>
        <meta name="viewport" content="width=device-width" />
        <link href="/style.css" rel="stylesheet" />
        <link rel="icon" href="data:," />
        <link rel="alternate" type="application/atom+xml" title="ltlnx 的網誌 —— 所有頁面" href="/rssfeed.xml" />
    </head>
    <body>
        <div id="content">
            <div id="header">
                <a href="/index.html" id="sitename"><strong>ltlnx 的網誌</strong></a>
                <div class='links'>
                    <a href='/archive.html'>庫存</a>
                    <a href='/about.html'>關於</a>
                    <a href='/links.html'>連結</a>
                    <a href='/blogroll.html'>部落滾</a>
                    <a href='/rss.html'>訂閱</a>
                    <a rel='me' href='https://g0v.social/@ltlnx'>聯邦</a>
                </div>
            </div>
            <div id="main">
<h1 id="音樂相關事務">音樂相關事務</h1>
<p>作為興趣，我會打鼓、彈貝斯、彈吉他與合成器。我也在學習如何作現場混音及家庭錄音、混音。這裡有與這些興趣相關的文章。</p>
<div class="postcardblock">
<div id="videos-where-i-play-drums" class="postblock">
<h2><a href="/my-drum-videos.html">Videos Where I Play Drums</a></h2>
<p><span class="date">2022-12-14</span><span class="tags">標籤：<a href="/tags/音樂.html">音樂</a>
</span></p>
<p>I mainly play the drums. These are links to videos where I play
drums.</p>
</div>
</div>
                <p><em>如果想讓我知道您看過這個頁面，請點擊<a href="https://ltlnx.goatcounter.com/count?p=/tags/音樂.html">這個連結</a>。<a href="/viewcount.html">運作原理</a>。</em></p>
            </div>
            {{COMMENTS}}
            <div id="footer">
                <div class='links'>
                    <a href='/archive.html'>庫存</a>
                    <a href='/about.html'>關於</a>
                    <a href='/links.html'>連結</a>
                    <a href='/blogroll.html'>部落滾</a>
                    <a href='/rss.html'>訂閱</a>
                    <a rel='me' href='https://g0v.social/@ltlnx'>聯邦</a>
                </div>
            <small>© ltlnx 2022–2024. 使用 CC BY-SA 4.0 授權。如果要在其他網頁上轉載，請附上原文連結。</small>
            </div>
        </div>
        <script src="/res/comments.js" type="text/javascript"></script>
    </body>
</html>
